<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.articrew.artic">
    <!-- 인터넷 접근 허용, 네트워크 상태 접근 허용, 와이파이 상태 접근 허용 Glide을 이용해 http에서 이미지를 받아오기 위해 필요한 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Gallery URI 접근을 위해 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.articrew.artic.ArticApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/Translucent"
            tools:replace="android:theme"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- <meta-data -->
        <!-- android:name="com.kakao.sdk.AppKey" -->
        <!-- android:value="@string/kakao_app_key" /> -->
        <!-- <activity -->
        <!-- android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".ui.base.BaseSocialLoginActivity"/>
        <activity android:name=".ui.navigation.NavigationActivity" />
        <activity android:name=".ui.new_archive.MakeNewArchiveActivity" />
        <activity android:name=".ui.article_webview.ArticleWebViewActivity" />
        <activity android:name=".ui.signup.signup_start.SignupStartActivity" />
        <activity android:name=".ui.login.login_start.LoginStartActivity">

        </activity>
        <activity android:name=".ui.setting.setting.SettingActivity" />
        <activity android:name=".ui.setting.setting_editprofile.SettingEditProfileActivity" />
        <activity android:name=".ui.mypage.mypage_scrap.MyPageScrapActivity" />
        <activity android:name=".ui.article_about.ArticleAboutActivity" />
        <activity android:name=".ui.signup.signup.SignupPrivateActivity" />
        <activity android:name=".ui.signup.signup.SignupLoginActivity" />
        <activity android:name=".ui.detail_artic_pick.ArticPickActivity" />
        <activity android:name=".ui.login.login.LoginActivity" />
        <activity android:name=".ui.detail_reading_history.DetailReadingHistoryActivity" />
        <activity android:name=".ui.detail_new_archive.DetailNewArchiveActivity" />
        <activity android:name=".ui.new_article_link.NewArticleLinkActivity" />
        <activity android:name=".ui.search_result.SearchResultActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.article.ArticleActivity" />
        <activity android:name=".ui.archive.ArchiveActivity" />
        <activity android:name=".ui.setting.setting_version.SettingVersionActivity" />
    </application>

</manifest>